*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
	margin: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	/*width: 100%;*/
	background-color: #ffffff
}

header {
	background-color: #75e2e6;
	border-bottom: 5px solid #048eaa;
}

nav {
	float: right;
	display: inline-block;
}

nav ul {
	list-style: none;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	margin: 21px 15px 21px 5px;
}

footer {
	background-color: #048eaa;
}

.name-dog-input-field {
	display: block;
	text-align: center;
	margin: auto;
	height: 45px;
	width: 400px;
	font-size: 1.25em;
	border-radius: 3px;
	border:1px solid black;
}

.name-dog-button1 {
	background-color: #75e2e6;
	display: block;
	font-size: 20px;
	height: 45px;
	margin: 20px auto;
	width: 400px;
	border-radius: 3px;
	border:1px solid #75e2e6;
}


.name-dog-title {
	width: 50px;
	color: #ffffff;
	text-align: center;
	padding-right: 400px;
	margin-bottom: 10px;
	
}

.name-dog {
	background-image: url("images/park.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 600px;
	width: 100%;
	background-blend-mode: darken;
	background-color: grey;
}

.name-dog-heading {
	text-align: center;
	color: #ffffff;
	font-size: 35px;
	font-weight: 200;
	padding-top: 50px;
}

.dog-header-logo {
	display: inline-block;
	width: 50px;
	margin: 5px;
}

.name-dog-pics {
	height: 200px;
	display: block;
	margin: 50px auto;
	border-radius: 50%;
	border:5px solid #048eaa;
}

.dog-cards {
	text-align: center;

}

.dog-card-art-pics {
	height: 200px;
	margin: 50px 0px;
	border-radius: 50%;
	border:5px solid #048eaa;
}

.dog-card-heading {
	text-align: center;
	padding-top: 30px;
}

.dog-card-art {
	display: inline-block;
	width: 30%;
	margin: 10px;
	padding: 10px;
	max-width: 300px;
	min-width: 230px;
}

.dog-card-art-para {
	height: 200px;
	text-align: left;
}

.dog-card-art-button {
	background-color: #048eaa;
	color: #ffffff;
	font-size: 20px;
	height: 45px;
	margin-top: 20px;
	width: 100%;
	border-radius: 3px;
	border:1px solid #048eaa;
}

.footer {
	bottom: 0px;
	margin-top: 50px;
	height: 200px;
	background-color: #048eaa;
	text-align: center;
	padding-top: 20px;
}

.footer-text {
	text-align: center;
	color: #ffffff;
	font-weight: 100;
	font-size: 20px;
}

.footer-logo-holder {
	display: block;
	margin: 10px;
}

.footer-logo-links {
	margin: 5px;
	 margin-top: 20px;
}

.footer-logo-holder-logos{
	display: inline-block;
}


@media (max-width: 600px){

	.dog-card-art {
		width: 80%;
		margin: 10px;
		max-width: 350px;
		min-width: 300px;
	}
	.dog-card-art-para {
    	height: 150px;
	}

	.name-dog-input-field{
		width: 275px;
	}
	.name-dog-button1{
		width: 275px;
	}
	.name-dog-title {
		padding-right: 275px;
	}
	.name-dog-heading{
		font-size: 25px;
		padding-top: 30px;
	}
	nav ul li {
	margin: 15px 5px 10px 0px;
	font-size: 12px;
	font-weight: 900;
	}
	.name-dog-pics {
		margin: 30px auto;
	}
	.name-dog {
		height: 500px;
	}
	.dog-card-heading{
		padding-top: 20px;
	}
	.dog-card-art-pics{
		margin: 30px 0px;
	}
	.dog-card-art-button {
		margin-top: 25px;
	}
	.dog-header-logo{
		width: 30px;
	}
	.footer {
		height: 125px;
	}
}

@media (max-width: 320px){
	nav ul li {
	margin: 15px 5px 10px 0px;
	font-size: 12px;
	}
	.footer-text {
		font-size: 20px;
	}
}

